.logo{
    width: 25vw;



}
.logo-for-header{
    width: fit-content;
    align-content: center;
    border: black solid 10px;

}

h1{
    font-family: Lora;

}
#logotext{
    font-weight: 450;
    scale:;
    scale
}
