@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body{
    margin: 1vw;
}
.logo{
    width: 5vw;


}
#logo-for-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: fit-content;
    flex-direction: row;
}

h1{
    font-family: Lora;

}
#logotext{
    transform: scaleY(1.5);
    margin: 0.5rem;
    font-weight: 450;
}


