@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

header{
    position: fixed;
    top: 0;

}

a{
    text-decoration: none;
    color: inherit;
}
body{
    height: 2000px;
    margin: 2vw;
}
.logo{
    filter: url(#grain);
    width: 5vw;


}
#logo-for-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0vw;
    width: fit-content;
    flex-direction: row;
}

h1{

    font-family: Lora;


}
#logotext{
    transform-style: preserve-3d;
    font-weight: 200;
    animation: typo-move 10s infinite;
    transform: scaleY(5);
    font-size: 3vw;
    backface-visibility: visible;

}
#changing {

}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4vh;
    margin-left: 0vw;
    text-align: justify;
}

#flying-buttons{
    left: 10vw;
    display: flex;
    align-items: center;
}

#row1{
    margin: 2vw;
    display: flex;

}
#row2{
    padding: 2vw;
    margin: 2vw;
    display: flex;
}

#introduction{
    padding-right: 20vw;
    margin: 2vw;
}
#introduction2{
    margin: 2vw;
}
@keyframes typo-move {
    0% {
        transform: perspective(800px) rotateY(0deg);
    }
    50% {
        transform: perspective(800px) rotateY(180deg);
    }
    100% {
        transform: perspective(800px) rotateY(360deg);
    }
}


h3{
    font-family: Lora;
    font-size: 1.2vw;
    font-weight: lighter;
}



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 2vw;
}


#nav-bar {
        display: flex;
        align-items: center; /* Aligne les éléments verticalement */
        gap: 2vw; /* Ajoute un espacement entre les éléments si nécessaire */
    }


.nav-button{
    font-size: 1.5vw;
    font-family: Lora;
    background: none;
    border: none;
    text-underline-mode: none;
    margin-left: 5.5vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover{
    color: #F4983C;
    transform: scaleY(2.2);
}

.letter{
    display: inline-block;
    transition: transform 0.2s ease;
}
#img-intro{
    width: 39vw;
    bottom: 20rem;
}

#projets-button{
    display: flex;
    position: relative;
}

#Paragraph-CTEXT{
    font-size: 3vw;
    padding-top: 5vw;
    padding-left: 4vw;
}

h1{
    font-family: 'Lora', serif;
    color: white;
    font-weight: 570;
    transform: scaleY(2.2);
    z-index: 1000;
    position: relative
}


@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


#float-text{

    animation-delay: 2ms;
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


#LogoIMG{
    opacity: 0;
    animation: apparition 50ms forwards;
    margin-right: 0.8rem;
    width: 7rem;
    z-index: 5;
}

body{
    margin: 50px;
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    #logo {
        transition: transform 0.1s ease;  /* Pour rendre la rotation fluide */
        display: block;
        margin: 0 auto;
    }


aside{
    padding-top: 5vw;
}
section{
    padding-top: 55vw;
}

@media (max-width: 430px){
    body{
        display: flex;
        align-items: center;

    }
    #logo-for-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
    }
    #logo{
        width: 10vw;
    }
    #logotext{
        white-space: nowrap;
        font-size: 7vw;
    }
    #header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        gap: 0;
        margin: 0;
    }
    #home{
        display: none;
    }
    #about{
        display: none;
    }
    #contact{
        display: none;
    }
}
